// Custom styles.
@media screen and (min-width:1200px) {

  body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
  }

  #footer a {
    color:#eee;
  }
}

.post {
  background-color rgba(255,255,255,0.9)
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
}
