.header { background: $head-bg; }

.header-inner { position: relative; }

.github-screen {

  @media screen and (max-width: 767px) {
    display: none
  }
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
